html {
    background-image: url('star.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

:root {
    --slideshow-len: -6865px;
    --slideshow-dur: 90s
}

body {
    text-align: left;
    margin: 0 10%;
    font-family: calibri, serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    padding: 20px 30px;
    margin: 0;
}

p,
div.info {
    color: #3b5998;
    background-color: #f1f1f1;
    font-size: 25px;
}

div.info {
    padding: 5px 20px;
}

ul {
    padding-left: 70px;
}

a {
    color: mediumblue;
}

a:visited {
    color: darkblue;
}

button {
    background-color: #f1f1f1;
    border-width: thick;
    border-color: #8b9dc3;
    border-radius: 12px;
    color: #3b5998;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8em;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

#buttons {
    text-align: center;
}

button#RSVP-button {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    width: 100%;
}

button:hover {
    border-color: #3b5998;
    background-color: #f1f1f1;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5), 0 17px 50px 0 rgba(0, 0, 0, 0.5);
}

button:active {
    -moz-transition-duration: .05s;
    -o-transition-duration: .05s;
    -webkit-transition-duration: .05s;
    transition-duration: .05s;
    transform: translateY(4px);
}

h1 {
    font-size: 4em;
    background-color: #3b5998;
    color: ivory;
}

h5 {
    font-size: 2.6em;
    background-color: #f1f1f1;
    color: #3b5998;
}

input[type=text],
input[type=email],
input[type=number] {
    display: block;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 8px;
    background: #fff;
    border: none;
    color: #3b5998;
    border-bottom: 2px solid #3b5998;
    width: 30em;
    padding: 12px 15px;
    font-size: 1em;
    font-family: ‘Hoefler Text’, Garamond, Georgia, ‘Times New Roman’, Times, serif;
    -moz-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

label {
    float: left;
    color: #3b5998;
    font-size: 18px;
}

::placeholder {
    color: #3b5998;
    opacity: 0.5;
    font-size: 18px;
}


#services-div,
#party-div {
    overflow: auto;
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding: 5px;
    font-size: 18px;
    -moz-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    width: 26.12em;
    border-bottom: 2px solid #3b5998;
    margin-top: 8px;
}

#guest-div,
#partiers-div {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 8px 0;
    width: 30em;
    -moz-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#guest-div:hover,
#partiers-div:hover {
    width: 100%;
}

.RSVP:hover,
.RSVP:focus,
#services-div:hover,
#party-div:hover {
    width: 100%;
}

input[type=submit] {
    float: left;
    cursor: pointer;
    display: block;
    background-color: #f1f1f1;
    border-width: medium;
    border-color: rgb(78, 6, 190);
    border-radius: 15px;
    width: 100%;
    overflow: auto;
    clear: both;
    position: relative;
    font-weight: bold;
    font-size: 25px;
    color: #3b5998;
    padding: 12px 25px;
    text-align: center;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

input[type=submit]:hover {
    border-color: #3b5998;
    background-color: #f1f1f1;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5), 0 17px 50px 0 rgba(0, 0, 0, 0.5);
}

input[type=submit]:active {
    -moz-transition-duration: .05s;
    -o-transition-duration: .05s;
    -webkit-transition-duration: .05s;
    transition-duration: .05s;
    transform: translateY(4px);
}

input[type=radio] {
    float: left;
    margin-left: 10px;
}

#thank-you {
    margin: auto auto;
    padding: 15;
    font-size: 40;
    text-align: center;
}

#btw {
    font-size: 20px
}

.error {
    color: red;
    float: left;
    font-size: 1em;
    background-color: white;
    margin-bottom: 5px;
    padding: 2px;
    border-radius: 2px;
}

img {
    margin: 0;
    padding: 0;
}

.marquee {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    margin: 20px 0;
    float: left;
    display: block;
    animation: scroll var(--slideshow-dur)linear 0s infinite;
    -webkit-animation: scroll var(--slideshow-dur) linear 0s infinite;
    -moz-animation: scroll var(--slideshow-dur) linear 0s infinite;
    -ms-animation: scroll var(--slideshow-dur) linear 0s infinite;
}

@keyframes scroll {
    from {
        left: 0;
    }
    to {
        left: var(--slideshow-len, 0);
    }
}

@-moz-keyframes scroll {
    from {
        left: 0;
    }
    to {
        left: var(--slideshow-len, 0);
    }
}

@-webkit-keyframes scroll {
    from {
        left: 0;
    }
    to {
        left: var(--slideshow-len, 0);
    }
}

@-ms-keyframes scroll {
    from {
        left: 0;
    }
    to {
        left: var(--slideshow-len, 0);
    }
}
